.logo-div {
    background-color: #57bf8f;
    margin-right: 5px;
    border-radius: 100%;
    padding: 0.2em;

    > img {
        display: flex;
        justify-content: center;
        align-items: center;
      padding: .2em;
      width: 30px;
    }
}
<<<<<<< HEAD

.logo-div:hover {
    background-color: #000;
    margin-right: 5px;
    border-radius: 100%;
    padding: 0.2em;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 20px -6px rgba(255,255,255,0.77);
-moz-box-shadow: 10px 10px 20px -6px rgba(255,255,255,0.77);
box-shadow: 10px 10px 20px -6px rgba(255,255,255,0.77);
}
=======
>>>>>>> 185be27056dfdf0e454b97711661bc9a6dfe0288
