<nav class="hidden-xs cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <h3><i class="fa fa-star-o"></i> Your Favorites</h3>
    <ul>
        <li>
            <img src="upload/item_01.jpg" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">User Profile App</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 221</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 05</a></small>
        </li>
        <li>
            <img src="upload/item_02.jpg" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">Mail Application</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 435</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 13</a></small>
        </li>
        <li>
            <img src="upload/item_03.jpg" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">Showcase Podcast</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 551</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
        </li>
        <li>
            <img src="upload/item_04.jpg" alt="" class="alignleft img-responsive">
            <h4><a href="single-item.html">Login Box (Custom)</a></h4>
            <small><a href="single-item.html"><i class="fa fa-eye"></i> 412</a></small>
            <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 55</a></small>
        </li>
    </ul>
    <a href="shop-favorites.html" class="btn btn-primary">Go to Favorites</a>
</nav>