
<section class="section single-wrap">
    <div class="container">
        <div class="page-title public-profile-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <h3>Hortinha - Comunidade Orgânica</h3>
                    <p>Hundreds of PSD templates, mobile applications, UI & material elements! Upload your own <br> handmade digital items and make money!</p>
                    <a href="#" class="btn btn-large btn-primary">Crie sua hortinha</a>
                    <a href="#" class="btn btn-large btn-primary">Cadastre seus produtos</a>
                </div>
            </div>
        </div>

        <div class="content-top">
            <div class="row">
                <div class="col-sx-6 col-sm-6">
                    <div class="custommenu hidden-xs">
                        <a id="showLeft" href="#" title="" class="bt-menu-trigger"><i class="fa fa-bars"></i> <img src="upload/fav.png" alt=""></a>
                    </div>
                </div> 

                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <ul class="list-inline social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->

        <div class="content-before">
            <div class="row">
                <div class="col-md-6 col-sx-12 cen-xs">
                    <form class="dropForm">
                        <div class="input-prepend">
                            <div class="btn-group">
                                <select name="orderby" class="selectpicker">
                                  <option>Todas</option>
                                  <option>Legumes</option>
                                  <option>Verduras</option>
                                  <option>Grãos / Sementes</option>
                                  <option>Temperos</option>
                                  <option>Cestas Prontas</option>
                              </select>
                          </div>
                          <input type="text" class="form-control" placeholder="O que voce procura ?!">
                          <button class="btn btn-primary" tabindex="-1"><i class="fa fa-search"></i></button>
                      </div>
                  </form>
              </div>
              <div class="col-md-6 text-right hidden-xs">
                <div class="catalog-order">
                    <select name="orderby" class="selectpicker">
                        <option value="popularity">Ordenar por Popularidade</option>
                        <option value="rating">Ordenar por Melhores Avaliados</option>
                        <option value="date" selected='selected'>Ordenar por mais Novos</option>
                        <option value="price">Ordenar por Menor Preço</option>
                        <option value="price-desc">Ordenar por Maior Preço</option>
                    </select>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end content before -->

    <div class="content">
        <div class="row">
            <div class="col-md-12 general-title">
                <h4>Nossa Loginha :P  <span class="hidden-xs"><a href="shop-four.html">Ver todos</a></span></h4>
                <hr>
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/painel-suspenso.jpg " alt="" class="img-responsive">
                        <div class="magnifier">
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 21</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html"></a> Painel Suspsenso</h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 893</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 12</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/aquario_aquaponico_indor.jpg" alt="" class="img-responsive">
                        <div class="magnifier">

                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 5</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Aquario Aquaponico</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 221</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 05</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/ferramentas-tramontina.jpg" alt="" class="img-responsive">
                        <div class="magnifier">

                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 5</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Ferramentas Tramontina</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 412</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 31</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/kit3.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                          
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 25</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Luvas de Borracha</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 123</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 03</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/kit5.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                           
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 12</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Alface Mimosa</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 441</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 21</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/kit2.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                           
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 25</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Cenoura</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 31</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 04</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/Standard.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                           
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">Free</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Agriao</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 1235</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 46</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img//loja/kit4.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                           
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">R$ 6</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Couve Manteiga</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 125</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 55</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6">
                <div class="item-box">
                    <div class="item-media entry">
                        <img src="img/loja/kit6.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                      
                        </div>
                        <div class="theme__button">
                            <p><a href="single-item.html" title="">Free</a></p>
                        </div>
                    </div><!-- end item-media -->
                    <h4><a href="single-item.html">Alho poro</a></h4>
                    <small><a href="single-item.html"><i class="fa fa-eye"></i> 223</a></small>
                    <small><a href="single-item.html"><i class="fa fa-comment-o"></i> 51</a></small>
                </div><!-- end item-box -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end content -->

    <div class="content-after text-center boxs">
        <div class="row">
            <div class="col-md-12">
                <nav class="pagination-wrapper">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- end row -->
    </div><!-- end content after -->

    <div class="refer-messages">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="boxes boxs">
                    <i class="fa fa-line-chart"></i>
                    <h3>Complemente sua renda</h3>
                    <p>Consuma seus produtos e venda para ter um adendo na sua renda mensal.</p>
                    <a href="#" class="btn btn-primary">Crie sua Hortinha Virtual </a>
                </div>
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="boxes boxs">
                    <i class="fa fa-exchange"></i>
                    <h3>Troque seus produtos com seus amigos</h3>
                    <p>Quer um produto que voce nao cultiva na sua residencia ?! Que tal trocar com outros usuarios.</p>
                    <a href="#" class="btn btn-primary">Mercado de Trocas</a>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end refer-messages -->

    <div class="content-message boxs">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2>Mais de 17.000 mil acessos na ultima semana. Catalogo diverisficado de produtos, encontre o que você precisa e faça parte de uma comunidade que só cresce </h2>
                <a href="#" class="btn btn-default btn-lg">Junte-se a nós</a>
            </div>
        </div><!-- end row -->
    </div><!-- end content message -->
</div><!-- end container -->
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="media cen-xs">
                    <p>
                        &copy; Catalog INC. 2016 - Todos os direitos reservados.<br>
                        Idéia por <a class="madeby" href="http://showwp.com/"></a> Hortinha <i class="fa fa-heart"></i> Desenvolvido em HTML5 <i class="fa fa-html5"></i>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <ul class="list-inline text-right cen-xs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Temos</a></li>
                    <li><a href="#">Direitos</a></li>
                    <li><a href="#">Licensas</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a class="topbutton" href="#">Voltar ao topo <i class="fa fa-angle-up"></i></a></li>
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
</div><!-- end wrapper -->
<!-- END SITE -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>

</body>

<!-- Mirrored from showwp.com/demos/catalog/app-version/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Nov 2016 00:34:06 GMT -->
</html>